*.pdf
!docs/fft_sc.pdf

sim/modelsim/*
!sim/modelsim/modelsim.ini

sim/in.txt
sim/out.txt

*.bak

db
incremental_db
output_files
greybox_tmp
a5_pin_model_dump.txt
*.sdc
*.qpf
*.qsf
device.sv

*.asv
*.qws